body {
  background-color: #1a1a1a;
}

/* index.html */
#Engine_Name {
  color: #e68a00;
  margin: auto;
  margin-top: 15%;
  width: 50%;
  text-align: center;
  padding: 10px;
  font-size: 100px;
}

#Buttons {
  color: azure;
  margin: auto;
  width: 50%;
  text-align: center;
}

/* board.html */
#Genesis_Button {
  background-color: #e68a00;
  transition-duration: 0.4ms;
  border-radius: 50%;
  padding: 24px 35px;
  font-size: 40px;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#Genesis_Button:hover {
  background-color: #ca7900;
}

#board {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 270px;
  grid-auto-rows: 200px;
  gap: 32px;
  padding: 32px;
  align-items: start;
}

#svg-lines {
  z-index: 0;
}

#save_button,
#export_button {
  position: fixed;
  top: 1%;
  width: 100px; /* Set consistent width */
  height: 30px; /* Set consistent height */
  font-size: 16px; /* Optional: matching text size */
  z-index: 2;
}

#export_button {
  right: 1%;
}

#save_button {
  right: calc(1% + 100px + 8px); /* 100px button width + 8px gap */
}

#game-name {
  position: fixed;
  top: 25%;
  left: 45%;
}

/* export.html */
#ExportForm {
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
}

.Nodes {
  background: #f0f0f0;
  border-radius: 16px;
  padding: 12px;
  position: relative;
  min-height: 150px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  width: 250px;
  height: 174px;
  margin: 10px;
  z-index: 1;
}

.SubNodes {
  background: #9e9e9e;
  border-radius: 16px;
  padding: 12px;
  position: relative;
  min-height: 150px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  width: 250px;
  height: 174px;
  margin: 10px;
  z-index: 1;
}

.Nodes:hover {
  outline-color: #e68a00;
  outline-style: solid;
}

.SubNodes:hover {
  outline-color: #e68a00;
  outline-style: solid;
}

.Forms {
  background-color: aliceblue;
  position: absolute;
  width: 100px;
  height: 50px;
}

.Nodes button {
  position: absolute;
  top: 8px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.add-btn {
  right: 36px;
  background-color: #4caf50;
}

.remove-btn {
  right: 8px;
  background-color: #f44336;
}

.Nodes textarea {
  margin-top: 36px;
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
}

.SubNodes button {
  position: absolute;
  top: 8px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.SubNodes textarea {
  margin-top: 36px;
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
}
